.main-div{
    min-height: 0px;
    height: 26rem;
    -webkit-box-flex: 0;
    flex-grow: 0;
    border-radius: 0.5rem;
    width: 26rem;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: rgb(87, 192, 253);
    margin: 100px auto;
    
}
.inner-div{
    -webkit-box-flex: 1;
    flex-grow: 1;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column; 
    background-image: url();
}
.btn{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
   background-color: rgb(236, 89, 114);
   border-color:rgb(236, 89, 114) ;
    width: 50%;
    margin: 20px auto ;
    border-radius: 6px;
    color: #ffff;
    font-size: 1rem;
    line-height: 1.5rem;
    
}

.btn1{
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
   background-color: rgb(46, 65, 240);
   border-color:rgb(46, 65, 240) ;
    width: 50%;
    margin: 20px auto ;
    border-radius: 6px;
    color: #ffff;
    font-size: 1rem;
    line-height: 1.5rem;
}
.frm{
    margin: 30px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }